/* Error: Parent ".markdown-preview-view .markdown-embed-content >" is incompatible with this selector.
 *    ,
 * 14 |             &:first-child {
 *    |             ^^^^^^^^^^^^^^
 *    '
 *   src\modules\preview\naked_embeds.scss 14:4  @import
 *   src\modules\preview\index.scss 15:9         @import
 *   src\index.scss 71:9                         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Parent ".markdown-preview-view .markdown-embed-content >" is incompatible with this selector.\a    \2577 \a 14 \2502              &:first-child {\d\a    \2502              ^^^^^^^^^^^^^^\a    \2575 \a   src\\modules\\preview\\naked_embeds.scss 14:4  @import\a   src\\modules\\preview\\index.scss 15:9         @import\a   src\\index.scss 71:9                         root stylesheet';
}
