/**
 Source: https://gist.github.com/liamcain/81679412643690a7cdd13dff4dc909ce
 Create pagebreaks in exported Obsidian PDFs.
 Example:
 # Heading 1
 
 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
 when an unknown printer took a galley of type and scrambled it to make a type
 ## Heading 2 (pagebreak before this)
 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
 when an unknown printer took a galley of type and scrambled it to make a type
 ---
 --- ( <-- linebreak )
 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
 when an unknown printer took a galley of type and scrambled it to make a type
*/
@import "./../../colors.scss";

@media print {
  /* pagebreak before all ## headings */
  h2 {
    page-break-before: avoid;
  }

  h3,
  h4 {
    page-break-after: avoid;
  }

  pre,
  blockquote {
    page-break-inside: avoid;
  }

  /* use double <hr> ('---') to indicate a page break */
  hr + hr {
    page-break-before: always;
    visibility: hidden;
  }

  :not(hr) + hr {
    visibility: hidden;
  }

  :not(hr) + hr + :not(hr):not(h2) {
    border-top: 1px solid $gray-1;
    padding-top: 2em;
  }
}
