@import "./blockquotes.scss";
@import "./checkboxes.scss";
@import "./code.scss";
@import "./embed.scss";
@import "./headings.scss";
@import "./hover.scss";
@import "./links.scss";
@import "./lists.scss";
@import "./math.scss";
@import "./metadata.scss";
@import "./mermaid.scss";
@import "./query.scss";
@import "./tables.scss";
@import "./tags.scss";
@import "./tags-RO.scss";
@import "./responsive_image.scss";
@import "./embed-naked.scss";
@import "./scrollbar.scss";
@import "../../colors.scss";

.markdown-preview-view {
  color: $text-paragraph;
  line-height: normal;

  hr {
    border-color: rgba($indigo, 0.3);
  }

  del {
    color: $indigo;
  }
}
