/* Naked Embeds DEATH AU*/
.markdown-embed-title {
  display: none;
}
.markdown-preview-view {
  .markdown-embed {
    border: none;
    padding: 0;
    margin: 0;
  }
  .markdown-embed-content {
    max-height: unset;
    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
}
