@import "../../colors.scss";

@mixin base-tag {
  font-size: 9pt;
  font-weight: 900;
  background-color: $gray-1;
  padding: 3px 5px;
  border-radius: 5px;
  letter-spacing: -0.05ch;
  text-transform: uppercase;
}

@mixin status-tag($content) {
  font-size: 0;
  padding: 0;

  &:after {
    @include base-tag();
    content: $content;
  }
}

.tag {
  @include base-tag();
}

.tag[href="#conspect"] {
  @include status-tag("◩ CONSPECT");
}

.tag[href="#complet"] {
  @include status-tag("◼ COMPLET");
}

.tag[href="#vechi"] {
  @include status-tag("◻ VECHI");
}

.tag[href="#procesare"] {
  @include status-tag("🌱 PROCESARE");
}

.tag[href="#evergreen"] {
  @include status-tag("🌲 EVERGREEN");
}
